/* .box {
  height: 3916px;
  width: 1463px;
}

.box .hero {
  height: 3916px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1469px;
}

.box .overlap {
  height: 3916px;
  position: relative;
  width: 1463px;
}

.box .group {
  height: 1034px;
  left: 5px;
  position: absolute;
  top: 23px;
  width: 1440px;
}

.box .shapes {
  height: 839px;
  left: 0;
  position: absolute;
  top: 146px;
  width: 1403px;
}

.box .overlap-group {
  height: 836px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 687px;
}

.box .ellipse {
  border: 1px solid;
  border-color: var(--sigvault-stone);
  border-radius: 303px;
  height: 606px;
  left: 0;
  position: absolute;
  top: 200px;
  transform: rotate(90deg);
  width: 606px;
}

.box .div {
  border: 1px solid;
  border-color: var(--sigvault-gold);
  border-radius: 193.5px;
  height: 387px;
  left: 289px;
  position: absolute;
  top: 0;
  transform: rotate(90deg);
  width: 387px;
}

.box .rectangle {
  border: 1px solid;
  border-color: var(--sigvault-gold);
  height: 291px;
  left: 365px;
  position: absolute;
  top: 545px;
  transform: rotate(90deg);
  width: 291px;
}

.box .rectangle-2 {
  border: 1px solid;
  border-color: var(--sigvault-gold);
  height: 143px;
  left: 544px;
  position: absolute;
  top: 451px;
  transform: rotate(90deg);
  width: 143px;
}

.box .rectangle-3 {
  border: 1px solid;
  border-color: var(--sigvault-gold);
  height: 298px;
  left: 112px;
  position: absolute;
  top: 247px;
  transform: rotate(90deg);
  width: 298px;
}

.box .overlap-2 {
  height: 536px;
  left: 948px;
  position: absolute;
  top: 0;
  width: 455px;
}

.box .ellipse-2 {
  border: 1px solid;
  border-color: var(--sigvault-stone);
  border-radius: 193.5px;
  height: 387px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(90deg);
  width: 387px;
}

.box .rectangle-4 {
  border: 1px solid;
  border-color: var(--sigvault-gold);
  height: 298px;
  left: 157px;
  position: absolute;
  top: 238px;
  transform: rotate(90deg);
  width: 298px;
}

.box .rectangle-5 {
  border: 1px solid;
  border-color: var(--sigvault-gold);
  height: 92px;
  left: 114px;
  position: absolute;
  top: 190px;
  transform: rotate(90deg);
  width: 92px;
}

.box .top-banner {
  height: 164px;
  left: 5px;
  position: absolute;
  top: 585px;
  width: 1458px;
}

.box .overlap-3 {
  height: 164px;
  position: relative;
  width: 1440px;
}

.box .banner {
  background-color: var(--sigvault-black);
  height: 164px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.box .rectangle-6 {
  height: 164px;
}

.box .trim {
  height: 140px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 1440px;
}

.box .rectangle-7 {
  background: linear-gradient(
    90deg,
    rgba(38, 36, 37, 1) 0%,
    rgba(38, 36, 37, 0) 100%
  );
  height: 3893px;
  left: 5px;
  position: absolute;
  top: 23px;
  width: 326px;
}

.box .rectangle-8 {
  background: linear-gradient(
    90deg,
    rgba(38, 36, 37, 1) 0%,
    rgba(38, 36, 37, 0) 100%
  );
  height: 3893px;
  left: 1119px;
  position: absolute;
  top: 23px;
  transform: rotate(180deg);
  width: 326px;
}

.box .rectangle-9 {
  background: linear-gradient(
    180deg,
    rgba(38, 36, 37, 0.58) 31%,
    rgba(66, 61, 56, 0) 100%
  );
  height: 286px;
  left: 5px;
  position: absolute;
  top: 23px;
  width: 1440px;
}

.box .rectangle-10 {
  background: linear-gradient(
    180deg,
    rgba(17, 17, 19, 0.85) 31%,
    rgba(66, 61, 56, 0) 100%
  );
  height: 219px;
  left: 5px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.box .buttons {
  height: 45px;
  left: 492px;
  position: absolute;
  top: 452px;
  width: 465px;
}

.box .overlap-group-wrapper {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 224px;
}

.box .div-wrapper {
  background-color: var(--sigvault-gold);
  border-radius: 4px;
  height: 45px;
  position: relative;
  width: 222px;
}

.box .text-wrapper {
  color: var(--sigvault-black);
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: 222px;
}

.box .overlap-wrapper {
  height: 45px;
  left: 243px;
  position: absolute;
  top: 0;
  width: 224px;
}

.box .overlap-4 {
  background-color: var(--sigvault-stone);
  border: 1px solid;
  border-color: var(--sigvault-cream);
  border-radius: 4px;
  height: 45px;
  position: relative;
  width: 222px;
}

.box .p {
  color: var(--sigvault-cream);
  font-family: 'Raleway', Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: -1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
  white-space: nowrap;
  width: 222px;
}

.box .hero-logo {
  height: 156px;
  left: 397px;
  position: absolute;
  top: 206px;
  width: 654px;
}

.box .overlap-5 {
  height: 156px;
  position: relative;
}

.box .rectangle-11 {
  background-color: var(--sigvault-black);
  filter: blur(45.5px);
  height: 113px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 654px;
}

.box .sigvault-logo-mark {
  height: 151px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 640px;
}

.box .img {
  height: 151px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 640px;
}

.box .secure-multi {
  color: var(--sigvault-black);
  filter: blur(10px);
  font-family: 'Merriweather', Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 274px;
  letter-spacing: 0;
  line-height: 43.5px;
  position: absolute;
  text-align: center;
  top: 353px;
  width: 904px;
}

.box .secure-multi-2 {
  color: var(--sigvault-black);
  font-family: 'Merriweather', Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 274px;
  letter-spacing: 0;
  line-height: 43.5px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 16px #1a1211;
  top: 353px;
  width: 904px;
}

.box .secure-multi-3 {
  color: var(--sigvault-cream);
  font-family: 'Merriweather', Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 273px;
  letter-spacing: 0;
  line-height: 43.5px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 16px #1a1211;
  top: 351px;
  width: 904px;
}

.label {
  height: 96px;
  width: 904px;
}

.label .secure-multi {
  color: var(--sigvault-cream);
  font-family: 'Merriweather-Bold', Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 43.5px;
  position: fixed;
  text-align: center;
  text-shadow: 0px 0px 16px #1a1211;
  top: 0;
  width: 904px;
}

.nav {
  height: 51px;
  position: relative;
  width: 881px;
}
.nav .overlap {
  height: 35px;
  left: 327px;
  position: absolute;
  top: 15px;
  width: 554px;
}
.nav .text-wrapper {
  color: var(--sigvault-cream);
  font-family: 'Raleway-ExtraBold', Helvetica;
  font-size: 20px;
  font-weight: 800;
  left: 0;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 156px;
}
.nav .div {
  color: var(--sigvault-cream);
  font-family: 'Raleway-ExtraBold', Helvetica;
  font-size: 20px;
  font-weight: 800;
  left: 128px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 156px;
}
.nav .text-wrapper-2 {
  color: var(--sigvault-cream);
  font-family: 'Raleway-ExtraBold', Helvetica;
  font-size: 20px;
  font-weight: 800;
  left: 255px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 156px;
}

.nav .text-wrapper-3 {
  color: var(--sigvault-cream);
  font-family: 'Raleway-ExtraBold', Helvetica;
  font-size: 20px;
  font-weight: 800;
  left: 398px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 156px;
}
.nav .nav-logo {
  height: 49px;
  left: 0;
  position: absolute;
  top: 0;
  width: 215px;
}
.nav .overlap-group {
  height: 49px;
  position: relative;
}
.nav .rectangle {
  background-color: #20120f7a;
  filter: blur(13.5px);
  height: 37px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 215px;
}
.nav .sigvault-logo-mark {
  height: 49px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 207px;
} */
