@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --body-text: rgba(173, 170, 159, 1);
  --sigvault-base-brown: rgba(67, 56, 55, 1);
  --sigvault-base-slate: rgba(38, 36, 37, 1);
  --sigvault-black: rgba(17, 17, 19, 1);
  --sigvault-cream: rgba(247, 237, 222, 1);
  --sigvault-dark: rgba(26, 18, 17, 1);
  --sigvault-gold: rgba(203, 151, 83, 1);
  --sigvault-highlight-brown: rgba(67, 56, 55, 1);
  --sigvault-light-gold: rgba(245, 202, 143, 1);
  --sigvault-stone: rgba(66, 61, 56, 1);
  --sigvault-tan: rgba(155, 132, 109, 1);
  --sigvault-font: 'Raleway-ExtraBold', Helvetica;
}
